* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Noto Sans", sans-serif;
}
header {
    background-color: rgb(28, 90, 224);
    color: blue;
    padding: 1rem;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    line-height: 2rem;
} 
nav li {
    margin-right: 1rem;
}
nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem;
}
nav a:hover {
    color: #ddd;
    background-color: #555;
    border-radius: 0.25rem;
}
.nav-toggle{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 41px;
}
.nav-toggle .bar{
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-right: 1rem;
}
#home{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 770px;
    }
h1 {
    margin: 4rem;
    font-size: 13vh;
    font-family: 'Noto Sans', sans-serif;
    line-height: 7.5rem;
    text-align: center;
}
.cta-btn {
    display: block;
    margin: 0 auto;
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.cta-btn:hover {
    background-color: #555;
}
section h2{
    font-size: 7vh;
    text-align: center;
}
#about{
    padding: 3rem 0;
    background-color: #EEEEEBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about p{
    margin: 2.5rem;
    line-height: 2rem;
    font-size: 1.2rem;
    width: 60%;
}
#works{
    padding: 2rem 0;
    background-color: rgb(23, 180, 70);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    }
.work img {
    display: flex;
    border: 2px solid;
    max-width: 100%;
    margin-bottom: 1rem;
}
.work h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
#resume{
    background-color: rgb(209, 16, 65) ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#resume ul{
    border: 2px solid black;
    padding: 1rem;
    margin: 2rem;
}
#resume .skills{
    margin: 0;
    padding: 0;
    border: none;
    list-style: inside;
}
#gallery{
    background-color: rgb(105, 206, 10);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery {
    display: grid;
    grid-template-areas:
    "a a a b b"
    "a a a d d "
    "c c c d d "
    "c c c d d ";
}
.gallery img{
    margin: 5rem;

}
.item1{
    grid-area: a;
}
.item2{
    grid-area: b;
}
.item3{
    grid-area: c;
}
.item4{
    grid-area: d;
}

section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
section li {
    margin-bottom: 1rem;
}
section a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    }
section a:hover {
    text-decoration: underline;
}
footer{
    font-family: "Noto Sans", sans-serif;
    color: black;
    background-color:  #EEEEEBFF;
}
#contact{
    padding: 3rem 0;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 0; 
}
#contact h2{
    text-align: left;
}
#contact li, #contact a{
    font-family: Arial, sans-serif;
}
@media (max-width:769px){
    .gallery{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .gallery img{
        margin: 1rem 0;
        width: 20px;
        height: 20px;
    }
}
@media (max-width:480px) {
    .nav-toggle{
        display: flex;
    }
    #menu{
        display: none;
    }
    #menu.active{
        display: flex;
    }
    #menu{
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        margin-left: .75rem;
    }
    #menu li{
        text-align: center;
    }
    #menu a{
        display: inline-block;
        padding: .5rem 1rem;
        width: 100%;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    
}